<app-breadcrumbs title="Detail Ring Three" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="row mt-5 " @slideInLeftDetail>
  <div class="col-lg-12">
    <div class="card card-result animated-element">
      <div class="card-header animated-element card-result d-flex justify-content-center align-items-center bg-result
              position-relative">
        <button type="button" (click)="navigateToBack()"
          class="btn btn-custom-back btn-icon waves-effect waves-light position-absolute start-0">
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <h3 class="mb-0">Ring 3 Information : 27.02.25 S1</h3>
      </div>

      <div class="card-body p-3">
        <div class="row">
          <div class="col-xl-12 col-lg-12 p-2">
            <div class="row d-flex flex-column justify-content-center align-items-center p-3">
              <div class="col-xl-6 col-lg-6  my-3">
                <div class="card ribbon-box border shadow-none mb-lg-0">
                  <div class="card-body text-muted">
                    <div class="row mt-4">
                      <div class="col-xl-6">
                        <apx-chart [series]="simpleDonutChart.series" [labels]="simpleDonutChart.labels"
                          [chart]="simpleDonutChart.chart" [plotOptions]="simpleDonutChart.plotOptions"
                          [dataLabels]="simpleDonutChart.dataLabels" [legend]="simpleDonutChart.legend"
                          [stroke]="simpleDonutChart.stroke" [yaxis]="simpleDonutChart.yaxis"
                          [colors]="simpleDonutChart.colors" dir="ltr"></apx-chart>
                      </div>
                      <div class=" col-xl-6 d-flex flex-wrap justify-content-start p-1">
                        <div *ngFor="let label of simpleDonutChart.labels; let i = index"
                          class="d-flex justify-content-start  me-2 mb-2">
                          <i class="mdi mdi-circle fs-10 align-middle me-1"
                            [ngStyle]="{'color': simpleDonutChart.colors[i]}"></i>
                          <h6 class="mb-0">{{label}}</h6>
                        </div>
                      </div>

                    </div>
                    <div
                      class="col-xl-6 d-flex flex-column  mt-4 justify-content-center align-items-center btn-custom ">
                      <button type="button" class="btn btn-primary btn-lg mx-2 px-4 "
                        style="width: 45%;">Comply</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>


      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
</div>


<div class="row " @slideInRightDetail>
  <div class="col-xl-12">
    <div class="card">

      <div class="card-body form-steps">
        <form class="vertical-navs-step">
          <div class="row gy-5">
            <div class="col-lg-3">
              <div role="tablist" aria-orientation="vertical">
                <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav flex-column custom-nav nav-pills"
                  role="tablist">
                  <li [ngbNavItem]="1" class="nav-item">
                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">

                      <span class="step-title me-2">
                        Product Pallet Identification
                      </span>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="table-responsive animated-element">
                        data not found
                      </div>

                    </ng-template>
                    <!-- <ng-template ngbNavContent>
                      <div class="table-responsive">
                        <table class="table table-gridjs">
                          <thead>
                            <tr>
                              <th scope="col" class="text-center">No</th>
                              <th scope="col">Employee Code</th>
                              <th scope="col">Employee Name</th>
                              <th scope="col">Role</th>
                              <th scope="col">Site</th>
                              <th scope="col" class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of listData; let i = index">
                              <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td>{{ data['employee_code'] }}</td>
                                <td>{{ data['employee_name'] }}</td>
                                <td>{{ service.assignRole(data['role']) }}</td>
                                <td>{{ data['site'] }}</td>
                                <td class="text-center">
                                  <div class="hstack gap-2 justify-content-center">
                                    <button class="btn btn-primary btn-icon waves-effect waves-light"
                                      ngbTooltip="Edit Data" (click)="onAction('edit',data)">
                                      <span class="ri-edit-fill"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon waves-effect waves-light"
                                      ngbTooltip="Delete Data" (click)="onDelete(data['id'])">
                                      <span class="ri-delete-bin-5-line"></span>
                                    </button>
                                  </div>
                                </td>
                              </ng-container>
                            </tr>
                            <tr *ngIf="listData?.length == 0">
                              <td colspan="8" class="text-center">No data available.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- End Table Data -->
                    <!-- Pagination -->
                    <!-- <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ getShowingText() }} of {{ totalRecords }} entries
                          </div>
                        </div>
                        <div class="col col-sm-6">
                          <div class="pagination justify-content-end">
                            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize"
                              [maxSize]="3" [ellipses]="false"></ngb-pagination>
                          </div>
                        </div>
                      </div>
                    </ng-template> -->
                  </li>
                  <li [ngbNavItem]="2" class="nav-item">
                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                      <span class="step-title me-2">
                        Product Destination Identification
                      </span>
                    </a>
                    <ng-template ngbNavContent>
                      <p>Feature Not yeat 1</p>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3" class="nav-item">
                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                      <span class="step-title me-2">
                        Trucking Identification
                      </span>
                    </a>
                    <ng-template ngbNavContent>
                      <p>Feature Not yeat 2</p>
                    </ng-template>
                  </li>

                </ul>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="px-lg-4">
                <div class="tab-content">
                  <div [ngbNavOutlet]="customNav"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
