<ul ngbNav #customNavPackingProduction="ngbNav" [activeId]="1" animated-element
class="nav nav-tabs-custom rounded border-bottom-0" role="tablist">
<li [ngbNavItem]="1" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_measured_value')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Measured </a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingMeasured; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row" style="max-height: 550px; overflow-y: scroll">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingMeasured[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingMeasured[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingMeasured[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="2" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_internal_pressure')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Internal Pressure </a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingInternalPressure; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row" style="max-height: 550px; overflow-y: scroll">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressure[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressure[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressure[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="3" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_internal_pressure_judment_value')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Internal Pressure Judment Value</a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingInternalPressureJudmentValue; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressureJudmentValue[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressureJudmentValue[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingInternalPressureJudmentValue[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="4" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_details_defectives')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Details Defectives</a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingDetailsDefectives; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingDetailsDefectives[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingDetailsDefectives[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingDetailsDefectives[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="5" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_cap_1')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Cap 1</a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingCap1; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingCap1[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingCap1[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingCap1[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="6" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_cap_2')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Cap 2</a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingCap2; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingCap2[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingCap2[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingCap2[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="7" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_rsb')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> RSB </a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingRsb; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingRsb[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingRsb[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingRsb[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
<li [ngbNavItem]="8" class="nav-item" (click)="onTabChangeProductionMachine('production_packing_other')">
  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> Other </a>
  <ng-template ngbNavContent>
    <div *ngIf="dataMinMaxProductionPackingOther; else loadingTemplate">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="row">
            <div *ngFor="let section of dataSections" class="col-lg-12 mb-2">
              <div class="card card-animate no-shadow-{{ section.color }}" style="cursor: pointer"
                (click)="onChangeChartProductionMachineData(section)">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-3 text-primary"> {{ section.title }} </h5>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          max :
                          {{ formatNumber(dataMinMaxProductionPackingOther[section.maxKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          min :
                          {{ formatNumber(dataMinMaxProductionPackingOther[section.minKey]) }}
                        </p>
                      </div>
                      <div class="d-flex mb-1">
                        <p class="text-truncate fw-bold fs-15 mb-0">
                          avg :
                          {{ formatNumber(dataMinMaxProductionPackingOther[section.avgKey]) }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <i-feather name="external-link" class="text-primary feather-icon-align">
                        </i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-6">
          <h4 class="fw-bold"> {{ activeTitle }} </h4>
          <div class="hstack gap-1"></div>
          <div *ngIf="chartRendered">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [update]="true"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
          <div *ngIf="chartRendered" class="card-header border-0 mt-2">
            <div class="mb-2">
              <h6>
                Standard :
                <small class="text-muted fs-13 fw-normal">
                  {{ dataStandard.min }} {{ dataStandard.unit || "" }} -
                  {{ dataStandard.max }}
                  {{ dataStandard.unit || "" }}
                </small>
              </h6>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
              <h6>Status :</h6>
              <button type="button" class="btn btn-label rounded-pill"
                [ngClass]="dataStandard.status === 'Comply' ? 'btn-info' : 'btn-danger'">
                <i class="ri-check-double-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                {{ dataStandard.status }}
              </button>
            </div>
          </div>
          <div *ngIf="!chartRendered">
            <h4 class="no-data">No Data</h4>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p>Loading...</p>
    </ng-template>
  </ng-template>
</li>
</ul>
<hr />
<div class="tab-content mt-1">
<div [ngbNavOutlet]="customNavPackingProduction"></div>
</div>