.bg-result {
    background-color: #687CFE !important;
  }
  
  .card-header {
    height: 80px !important;
  }
  
  
  
  .card-result {
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }
  
  .bg-result h3 {
    color: white;
  }
  
  .ribbon-box {
    border: 2px solid #687CFE !important;
  }
  
  .btn-custom-back {
    background-color: white;
    color: black;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid #687cfe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 12px;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
  }
  
  .btn-custom-back:hover {
    background-color: #8c9bff;
    color: white;
  }
  
  .btn-custom-back i {
    color: black;
    font-size: 22px;
  }
  
  .btn-custom-back:hover i {
    color: white;
  }
  
  .vertical-navs-step .nav .nav-link {
    background-color: white !important;
  }
  
  .vertical-navs-step .nav .nav-link:hover {
    border: 1px solid #687cfe;
  }
  
  .vertical-navs-step .nav .nav-link.active {
    background-color: #687cfe !important;
    color: white !important;
  }
  
  
  .no-shadow-biru {
    box-shadow: none !important;
    background-color: #F0F9FF !important;
    border-radius: 15px !important;
  }
  
  .no-shadow-orange {
    box-shadow: none !important;
    background-color: #FFFAE1 !important;
    border-radius: 15px !important;
  }
  
  .no-shadow-purple {
    box-shadow: none !important;
    background-color: #F5F1FE !important;
    border-radius: 15px !important;
  }
  
  .no-shadow-hijau {
    box-shadow: none !important;
    background-color: #EEFDF3 !important;
    border-radius: 15px !important;
  }
  
  .tab-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
  }
  
  
  .tab-box-grey {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #afafaf;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-box {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-box.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .tab-container-ipc {
    display: flex;
    justify-content: flex-start;
    /* Aligns items to the start */
  }
  
  .tab-box-ipc {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-box-ipc.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .table-responsive {
    overflow-x: auto;
    /* Enables horizontal scrolling */
    display: block;
  }
  
  table {
    width: 100%;
    table-layout: auto;
    /* Allow columns to adjust based on content */
  }
  
  th,
  td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap;
    /* Prevents text from wrapping */
  }
  
  th:nth-child(10),
  th:nth-child(11),
  th:nth-child(12),
  td:nth-child(10),
  td:nth-child(11),
  td:nth-child(12) {
    min-width: 150px;
    /* Set minimum width for long text columns */
  }
   