<ng-template [ngIf]="!isActiveToggleClean && !isActiveToggleCleanDetail">
  <div class="tab-container">
    <!-- Kotak hiasan dan kotak tab -->
    <div class="tab-box">
      Lot No.
    </div>
    <div class="tab-box-grey">
      {{ productLotNo }}
    </div>
  </div>
  <!-- Filtering Table Data -->
  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-xl-9 col-md-6">
      <div class="row">
        <!-- Filtering Table Data -->
        <div class="col-md-6">
          <div class="search-box">
            <input type="text" #searchInput class="form-control search" placeholder="Search..."
              (input)="onSearchAll(searchInput.value)" />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div style="float: right;">
            <span style="margin-right: 4px;">Show</span>
            <select class="data rounded-3" id="pageSizeDropdown" #pageSizeDropdown [value]="pageSize"
              (change)="onPageSizeChange(pageSizeDropdown.value)">
              <option value="1">1</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <span style="margin-left: 4px;">Data</span>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-gridjs">
            <thead>
              <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Detail</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listData; let i = index">
                <ng-container *ngIf="i >= (page - 1) * pageSize && i < page * pageSize">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td>{{ data["type"] }}</td>
                  <td>{{ data["time"]  }}</td>
                  <td>{{ data["detail"] }}</td>
                  <td class="text-center">
                    <div class="hstack gap-2 justify-content-center">
                      <button class="btn btn-primary btn-icon waves-effect waves-light" ngbTooltip="View Report"
                        (click)="toggleView(data)">
                        <span class=" ri-file-fill"></span>
                      </button>
                      <button class="btn btn-success btn-icon waves-effect waves-light" ngbTooltip="View Detail"
                        (click)="toggleViewDetail(data)">
                        <span class=" ri-eye-fill"></span>
                      </button>
                    </div>
                  </td>
                </ng-container>
              </tr>
              <tr *ngIf="listData?.length == 0">
                <td colspan="8" class="text-center">No data available.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End Table Data -->
        <!-- Pagination -->
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col col-sm-6">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              {{ getShowingText() }} of {{ totalRecords }} entries
            </div>
          </div>
          <div class="col col-sm-6">
            <div class="pagination justify-content-end">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
                [ellipses]="false"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="isActiveToggleClean">
  <div>
    <button class="btn btn-primary btn-icon waves-effect waves-light" (click)="toggleView()">
      <span class="ri-arrow-left-fill"></span>
    </button>
    <div class="pdf-container">
      <ngx-extended-pdf-viewer [src]="pdfSrc" [height]="'90vh'" [useBrowserLocale]="true" [textLayer]="true"
        [showHandToolButton]="true" [showPresentationModeButton]="true" [showPrintButton]="true"
        [showDownloadButton]="true" [showOpenFileButton]="false" [showBookmarkButton]="true" [showSidebarButton]="true"
        [showFindButton]="true" [showPagingButtons]="true" [showZoomButtons]="true" [showRotateButton]="true"
        (error)="onError($event)" (afterLoadComplete)="onLoadComplete($event)">
      </ngx-extended-pdf-viewer>

    </div>


  </div>
</ng-template>
<ng-template [ngIf]="isActiveToggleCleanDetail">
  <div>
    <button class="btn btn-primary btn-icon waves-effect waves-light" (click)="toggleViewDetail()">
      <span class="ri-arrow-left-fill"></span>
    </button>
    <ul ngbNav #customNavCleaning="ngbNav" [activeId]="1" animated-element
      class="nav nav-tabs-custom rounded border-bottom-0 mt-2" role="tablist">
      <li *ngFor="let data of dataSectionCleaning; let in = index" [ngbNavItem]="in + 1" class="nav-item"
        (click)="onTabChangeCleaningSanitationDetail(data.item)">
        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab"> {{data.title}} </a>
        <ng-template ngbNavContent>
          <h5>{{activeTitle}}</h5>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="search-box">
                    <input type="text" #searchInputCleaning class="form-control search" placeholder="Search..."
                      (input)="onSearchAllCleaning(searchInputCleaning.value)" />
                    <i class="ri-search-line search-icon"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div style="float: right;">
                    <span style="margin-right: 4px;">Show</span>
                    <select class="data rounded-3" id="pageSizeDropdown" #pageSizeDropdownCleaning
                      [value]="pageSizeCleaning" (change)="onPageSizeChangeCleaning(pageSizeDropdownCleaning.value)">
                      <option value="1">1</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span style="margin-left: 4px;">Data</span>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="table-responsive">
                  <table class="table table-gridjs">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Standard</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of listDataCleaning; let i = index">
                        <ng-container
                          *ngIf="i >= (pageCleaning - 1) * pageSizeCleaning && i < pageCleaning * pageSizeCleaning">
                          <td>{{data['item']}}</td>
                          <td *ngIf="data['min'] != null && data['max'] != null && data['min'] != data['max']">
                            {{data['min'] == 0 ? '0' : data['min']}} - {{data['max'] == 0 ? '0' : data['max']}}
                            {{data['unit']}}</td>
                          <td *ngIf="data['min'] == null && data['max'] == null">{{data['unit']}}</td>
                          <td *ngIf="data['min'] != null && data['max'] == null"> >=
                            {{data['min'] == 0 ? '0' : data['min']}} {{data['unit']}}</td>
                          <td *ngIf="data['min'] == null && data['max'] != null">
                            <= {{data['max'] == 0 ? '0' : data['max']}} {{data['unit']}}</td> <td
                              *ngIf="data['min'] != null && data['max'] != null && data['min'] == data['max']">
                              {{data['min'] == 0 ? '0' : data['min']}} {{data['unit']}}
                          </td>
                          <td>{{data['value']}}</td>
                        </ng-container>
                      </tr>
                      <tr *ngIf="listDataCleaning?.length == 0">
                        <td colspan="8" class="text-center">No data available.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      {{ getShowingTextCleaning() }} of {{ totalRecordsCleaning }} entries
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="pagination justify-content-end">
                      <ngb-pagination [collectionSize]="totalRecordsCleaning" [(page)]="pageCleaning"
                        [pageSize]="pageSizeCleaning" [maxSize]="3" [ellipses]="false"></ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <hr />
    <div class="tab-content mt-1">
      <div [ngbNavOutlet]="customNavCleaning"></div>
    </div>
  </div>
</ng-template>
