.vertical-navs-step .nav .nav-link {
  background-color: white !important;
}

.vertical-navs-step .nav .nav-link:hover {
  border: 1px solid #687cfe;
}

.vertical-navs-step .nav .nav-link.active {
  background-color: #687cfe !important;
  color: white !important;
}
